python-dotenv
dataclass_wizard
jq
tqdm
# openai, langchain
openai
langchain
langchain_openai
langchain-community
langchain-core
langchain-experimental
langchainhub
chromadb
tiktoken
unstructured[all-docs]
# streamlit
streamlit
streamlit_extras
streamlit-authenticator
validators
watchdog
# tools
# googlesearch-python
google-api-python-client
bs4